asgiref==3.10.0
beautifulsoup4==4.14.2
charset-normalizer==3.4.4
Django==5.1.8
django-browser-reload==1.21.0
docopt==0.6.2
num2words==0.5.14
pillow==12.0.0
reportlab==4.4.5
soupsieve==2.8
sqlparse==0.5.3
typing_extensions==4.15.0
