{% extends "base.html" %} {% block content %}

<h2>Factura {{ factura.numero_factura }}</h2>

<button>
  <a href="{% url 'descargar_factura' factura.numero_factura %}">Descargar factura</a>
</button>

<p>Fecha: {{ factura.fecha }}</p>
{% if factura.cliente %}
<p>
  Cliente:
  <a href="{% url 'cliente_detalle' factura.cliente.pk %}">{{ factura.cliente.nombre }}</a>
</p>
<p>Dirección: {{ factura.cliente.direccion }}</p>
<p>Teléfono: {{ factura.cliente.telefono }}</p>
{% else %}
<p>Cliente: {{ factura.nombre_cliente }}</p>
{% endif %}
<p>Método de pago: {{ factura.metodo_pago }}</p>

<hr />

<table border="1" width="100%">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio U.</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    {% for d in detalles %}
    <tr>
      <td>{{ d.producto.nombre }}</td>
      <td>{{ d.cantidad }}</td>
      <td>{{ d.precio_unitario }}</td>
      <td>{{ d.subtotal }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr />

<p>Subtotal: {{ factura.subtotal }}</p>
<p>ITBIS: {{ factura.itbis }}</p>
<p><strong>Total: {{ factura.total }}</strong></p>

{% endblock %}
