{% extends "base.html" %} {% block content %}
<ul>
  <li><a href="{% url 'solicitar_fechas_ventas' %}">Reporte de Ventas por Fecha</a></li>
</ul>

<h2>Ventas</h2>

<table border="1" width="100%">
  <thead>
    <tr>
      <th>Número</th>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for f in facturas %}
    <tr>
      <td><a href="{% url 'factura_detalle' f.numero_factura %}">{{ f.numero_factura }}</a></td>
      <td>{{ f.fecha }}</td>
      <td>{{ f.nombre_cliente }}</td>
      <td>{{ f.total }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
