{% extends "base.html" %}{% load auth_extras %} {% block content %}

<ul>
  {% if user.is_superuser or user|has_group:"Administrador" %}
  <li><a href="{% url 'admin:index' %}">Administración</a></li>
  <li><a href="{% url 'ventas' %}">Ventas</a></li>
  <li><a href="{% url 'clientes' %}">Clientes</a></li>
  <li><a href="{% url 'proveedores' %}">Proveedores</a></li>
  <li><a href="{% url 'inventario' %}">Inventario</a></li>
  <li><a href="{% url 'crear_factura' %}">Facturación</a></li>
  {% else %} {% if user|has_group:"Comprador" %}
  <li><a href="{% url 'inventario' %}">Inventario</a></li>
  <li><a href="{% url 'proveedores' %}">Proveedores</a></li>
  {% endif %} {% if user|has_group:"Facturador" %}
  <li><a href="{% url 'crear_factura' %}">Facturación</a></li>
  <li><a href="{% url 'clientes' %}">Clientes</a></li>
  <li><a href="{% url 'ventas' %}">Ventas</a></li>
  {% endif %} {% endif %}
</ul>

{% endblock %}
