{% extends "base.html" %} {% block content %}

<h2>Reporte de Inventario</h2>

<table border="1" width="100%">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Categoría</th>
      <th>Precio</th>
      <th>Stock actual</th>
      <th>Stock mínimo</th>
    </tr>
  </thead>
  <tbody>
    {% for p in productos %}
    <tr>
      <td>{{ p.nombre }}</td>
      <td>{{ p.categoria.nombre }}</td>
      <td>{{ p.precio_unitario }}</td>
      <td>{{ p.stock_actual }}</td>
      <td>{{ p.stock_minimo }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
